.n-wrapper{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding-top: 0.5rem;
    z-index: 1000;
    font-size: larger;
    font-weight: 800;
    border-bottom: 2px solid black;
    backdrop-filter: blur(8000px);
    color: white;
}

.n-left{
    flex: 1;
    margin-left: 3rem;
    align-items: center;
    display: flex;
    gap: 2rem;
}
.n-right{
    display: flex;
    position: relative;
    left: -10%;
    gap: 6rem;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-right: 0rem;
}
.n-list{
    flex: 10;
    position: relative;
    left: 4rem;
}
.n-list>ul{
    display: flex;
    gap: 2rem;
    margin: 3rem;
    cursor: pointer;
}
/* li:hover{
    cursor: pointer;
    color: var(--orange);
} */


.nav-link {
    /* font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none; */
    color: white;
    text-decoration: none;
    /* padding: 20px 0px; */
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    /* opacity: 0.75; */
  }
  
  .nav-link:hover {
    opacity: 1;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #ffffff;
  }
  .nav-link-fade-up::before {
    width: 100%;
    bottom: 5px;
    opacity: 0;
  }
  
  .nav-link-fade-up:hover::before {
    bottom: -20%;
    opacity: 1;
  }


.n-button{
    flex: 2;
    border: 1px solid purple;
    border-radius: 1.5rem;
    width: 6vw;
    height: 5vh;
    font-size: small;
    font-weight: 700;
}

.n-button:hover{
  background: transparent;
 cursor: pointer;
 

}

.n-name {
  width:auto;
  text-align:center;
  padding:50px;
}
.logo {
  position: relative;
  left: -3rem;
  max-width:12%;
  max-height: 100%;
  border-radius: 100%;
}

@media screen and (max-width: 480px) {
    .n-list {
      display: none;
    }
  }


