.footer-main{
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:2rem;
    backdrop-filter: blur(60px);
    border-top: solid 1px;
}

.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.footer-icon,.footer-ul:hover{
    cursor: pointer;
}

.footer-ul {
    display: flex;;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap:2rem;
}

.footer-copy{
    display: flex;
    justify-content: center;
    align-items: center;
}